<div class="navbar navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">[<#]) Ruby com Caf&eacute;</a>
    <div class="nav-collapse collapse">
      <form class="navbar-form pull-left col-lg-4">
        <span class="input-group">
          <input type="text" class="input-small">
          <span class="input-group-btn">
            <button class="btn btn-default btn-small" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </span>
      </form>
      <ul class="nav navbar-nav pull-right">
        <li><a href="#about">Enviar artigo</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://www.gravatar.com/avatar/2ebf134fb5c88ac92156e02ea6ac44b4" width="25" height="25"> Usuário <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Conta</a></li>
            <li><a href="#">Artigos enviados</a></li>
            <li><a href="#">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
