<div class="main-content">
  <div class="posts-area">
    <ul class="posts-list">
      <% @posts.each do |post| %>
        <li class="post">
          <a class="avatar" href="#">
            <img src="http://www.gravatar.com/avatar/eb8975af8e49e19e3dd6b6b84a542e26?size=64">
          </a>
          <div class="text">
            <h4><%= post.title %></h4>
            <h5><a href="#">Guilherme Garnier</a></h5>
            <%= post.description %>
          </div>
        </li>
      <% end %>
    </ul>
  </div><!--/posts-section-->
</div><!--/main-content-->
